<footer class="footer">
    <div class="columns">
        <div class="column" style="height: 75px">
            <img alt="Bill &amp; Melinda Gates Foundation Logo" src="/static/images/gates-foundation-logo.png" height="75" style="max-height: 75px"/>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column" style="text-align: right"><img alt="Johns Hopkins Logo" src="/static/images/jhs.PNG" height="75" style="max-height: 75px; margin-right: 25px" /><img alt="Yale School of Public Health Logo" src="/static/images/ysph-removebg-preview.png" height="75" style="max-height: 75px"/></div>
            </div>
        </div>
    </div>
    <div class="columns" style="">
        <div class="column"><span class="is-small is-italic" style="font-size: 0.75em">The creation of this website was supported by a grant from the Bill &amp; Melinda Gates Foundation.</span></div>
        <div class="column" style="text-align: right">
            <p class="is-small is-italic" style="font-size: 0.75em">With thanks to: Stephanie Perniciaro, Dominic Cooper-Wootton, Maria Deloria Knoll & Daniel M. Weinberger</p>
            <p class="is-small is-italic" style="font-size: 0.75em; text-align: right"><a href="https://usability.yale.edu/web-accessibility/accessibility-yale" target="_blank">Accessibility at Yale</a></p>
        </div>
    </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4J2CKMGN5W"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4J2CKMGN5W');
</script>
