{{define "content"}}
    <div class="columns is-mobile is-centered">
        <div class="column is-full-desktop content is-centered has-text-centered" role="main">
            <h1 class="title">WISSPAR</h1>
            <h2 class="subtitle">A curated immunogenicity database</h2>
            <div class="columns" style="margin: 50px 0 50px 0; text-align: justify">
                <div class="column">
                    <p>The Worldwide Index of Serotype Specific Pneumococcal Antibody Responses
                        (WISSPAR) is a centralized platform housing data on immunogenicity from clinical trials
                        of pneumococcal vaccines.  The data on WISSPAR are primarily curated from
                        outcomes tables from clinicaltrials.gov and are made available in a searchable format
                        that can be readily used for downstream analyses. Fields included in the database
                        include product, manufacturers, dosing schedule, age group, and geographic region.
                        You can use the embedded tools to generate customizable visualizations, export data
                        for further analyses, or just browse through clinical trial results.</p></div>
                <div class="column" style="border-left:1px solid #ccc; padding-left: 20px; margin-left: 9px; border-right:1px solid #ccc; padding-right: 20px; margin-right: 9px;"><div class="ftralert ftralert-warning">
                        <p>Please note that immunogenicity data should be compared and interpreted with
                            caution. Data on immunogenicity alone cannot be used to infer differences in
                            effectiveness between vaccines. These data need to be combined with
                            information on the protective concentration of antibodies required to protect
                            against each serotype in different populations for meaningful comparisons.</p></div></div>
                <div class="column"><p>WISSPAR is a collaborative effort between the Yale School of Public Health and the
                        Johns Hopkins Bloomberg School of Public Health. The development of this tool was
                        supported by the Bill and Melinda Gates Foundation. For issues or suggestions, please
                        email <a href="mailto:daniel.weinberger@yale.edu" class="is-link">daniel.weinberger@yale.edu</a>. There is also the possibility of creating custom,
                            private data access portals for specific use case; please email for details.</p></div>
            </div>
        </div>
    </div>
    </div>
{{end}}
